
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="an api for avian taxonomy">
    <meta name="author" content="brant c. faircloth">
    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

    <title>faircloth-lab avian taxonomy api</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar-fixed-top.css') }}">

    <!-- highlight.js info -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">birds.faircloth-lab.org</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--
            <li class="active"><a href="/">home</a></li>
            <li><a href="/order/">order</a></li>
            <li><a href="/family/">family</a></li>
            <li><a href="/genus/">genus</a></li>
            <li><a href="/species/">species</a></li>
            -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <img class="img-responsive" src="{{ url_for('static', filename='bdb-small.png') }}" alt="" />
      </div>

    </div> <!-- /container -->

    <div class="container">

    <h1 id="top" class="page-header">Avian taxonomy API</h1>
    <p>The avian taxonomy <a href="http://en.wikipedia.org/wiki/Application_programming_interface">API</a> is designed using <a href="http://en.wikipedia.org/wiki/REST">REST</a> principles.  The <a href="http://en.wikipedia.org/wiki/Application_programming_interface">API</a> allows you to query a database of standardized avian nomeclature using commmon-language URLs, a web client, and HTTP verbs.  Using these same approaches, you can programmatically access information.  If the query is successful, the API returns <a href="http://en.wikipedia.org/wiki/JSON">JSON</a> for all responses, including errors.</p>

    <h1 id="top" class="page-header">Data source and API history</h1>
    <p>The data driving the Avian taxonomy API are derived from v4.1 of the <a href="http://www.worldbirdnames.org/">IOC World Bird (Master) List</a>, which is database of avian taxonomy available under <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution license</a>.  <strong>If you use the Avian taxonomy API</strong> please cite the <a href="http://www.worldbirdnames.org/">IOC World Bird List</a> correctly:</p>

    <blockquote>
    <h4>Gill, F & D Donsker (Eds). 2014. IOC World Bird List (v 4.1). doi: <a href="http://doi.org/10.14344/IOC.ML.4.1">10.14344/IOC.ML.4.1</a>.</h4>
    <footer><a href="http://www.worldbirdnames.org/">http://www.worldbirdnames.org/</a></footer>
    </blockquote>

    <p>Because I often want a queryable source of avian scientific and common names, I created the API by converting the available <a href="http://www.worldbirdnames.org/ioc-lists/master-list/">excel</a> file to an <a href="http://www.sqlite.org/">SQLite</a> database using <a href="http://www.python.org">python</a>.  The code that I used to run the conversion, and the entire codebase of this website are available from <a href="https://github.com/faircloth-lab/bird-db">https://github.com/faircloth-lab/bird-db</a>.</p>

    <h1 id="quickstart" class="page-header">Quickstart</h1>
    <h3>Using a browser</h3>
    <p>
    To query the database for all records where the common name is "Quail-plover", you can visit this URL using your browser:
    <br/><br/>
    <a href="/api/v1/species/common/Quail-plover">http://birds.faircloth-lab.org/api/v1/species/common/Quail-plover</a>
    <br/><br/>
    and you should receive a response that includes the information in the database for like
    <pre><code>{
    "attribution": {
        "citation": "Gill, F & D Donsker (Eds). 2014. IOC World Bird List (v 4.1). doi: 10.14344/IOC.ML.4.1",
        "doi": "10.14344/IOC.ML.4.1",
        "url": "http://www.worldbirdnames.org/",
        "website": "IOC World Bird List v4.1"
    },
    "meta": {
        "count": 1
    },
    "records": [
        {
            "authority": "(Vieillot, 1819)",
            "binomial": "Ortyxelos meiffrenii",
            "breed_region": "AF",
            "breed_subregion": "Mauritania and Senegal to Sudan, Ethiopia and Kenya",
            "code": "PHY",
            "comment": "Relationships of Quail-plover uncertain; possibly related to coursers",
            "common": "Quail-plover",
            "family": "Turnicidae",
            "genus": "Ortyxelos",
            "nonbreed": null,
            "order": "CHARADRIIFORMES",
            "species": "meiffrenii"
        }
    ]
}</code></pre></p>

    <h3>Using cURL</h3>
    <p>Alternatively, you can access this information using something like <a href="http://en.wikipedia.org/wiki/CURL">cURL</a>.  For instance, you can run:
    <pre><code>curl http://birds.faircloth-lab.org/api/v1/species/scientific/Colinus%20virginianus</code></pre> and the respons you receive should look like:
    <pre><code>{
    "attribution": {
      "citation": "Gill, F & D Donsker (Eds). 2014. IOC World Bird List (v 4.1). doi: 10.14344/IOC.ML.4.1",
      "doi": "10.14344/IOC.ML.4.1",
      "url": "http://www.worldbirdnames.org/",
      "website": "IOC World Bird List v4.1"
    },
    "meta": {
      "count": 1
    },
    "records": [
      {
        "authority": "(Linnaeus, 1758)",
        "binomial": "Colinus virginianus",
        "breed_region": "NA, MA",
        "breed_subregion": "ec, se USA, e Mexico",
        "code": null,
        "comment": null,
        "common": "Northern Bobwhite",
        "family": "Odontophoridae",
        "genus": "Colinus",
        "nonbreed": null,
        "order": "GALLIFORMES",
        "species": "virginianus"
      }
    ]
}</code></pre></p>

    <h2>Using python</h2>
    <p>You can use the <a href="http://docs.python-requests.org/en/latest/">requests</a> module in <a href="http://python.org/">python</a> to write computer code to access the database using something like:
    <pre><code>
    In [1]: import requests

    In [2]: r = requests.get('http://birds.faircloth-lab.org/api/v1/species/common/Hoatzin')

    In [3]: r.json()
    Out[3]:
    {u'attribution': {u'citation': u'Gill, F & D Donsker (Eds). 2014. IOC World Bird List (v 4.1). doi: 10.14344/IOC.ML.4.1',
      u'doi': u'10.14344/IOC.ML.4.1',
      u'url': u'http://www.worldbirdnames.org/',
      u'website': u'IOC World Bird List v4.1'},
     u'meta': {u'count': 1},
     u'records': [{u'authority': u'(Statius M\xfcller, 1776)',
       u'binomial': u'Opisthocomus hoazin',
       u'breed_region': u'SA',
       u'breed_subregion': u'Amazonia',
       u'code': None,
       u'comment': None,
       u'common': u'Hoatzin',
       u'family': u'Opisthocomidae',
       u'genus': u'Opisthocomus',
       u'nonbreed': None,
       u'order': u'OPISTHOCOMIFORMES',
       u'species': u'hoazin'}]}</code></pre>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
